#basit{
    color: rgb(15, 15, 13);
    background-color: rgb(209, 188, 162);
}
#bas{
    color: rgb(13, 13, 12);
    background-color: rgb(209, 188, 162);
}
#counseling{
    background-color: aqua;
}
